<h1>Section E - Editing Paramset</h1>

  <%= render( :partial => 'layouts/field_group', :collection => @field_list )%>

<p></p>

<%#= link_to 'Show', :action => 'show', :id => @paramset.id %>
<%#= link_to 'Back', :action => 'list' %>
<p>
</p>
