<h1>Section D - SIMS - New Ion Source </h1>
<p>
	<h3>Select the appropriate Analyzer Type:</h3>
<ul>
  <li> <%= link_to 'Magnetic Sector & Quadrupole', :action => 'new_magsect_quad'  %></li>
  <li> <%= link_to 'Time of Flight', :action => 'new_tof'  %></li>
</ul>

<h3>Or - copy one of these Ion Sources, already on file: </h3>

( table of ion sources already on file w/ "Copy" links... )

</p>
