<% for column in SubmissionReference.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @submission_reference.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @submission_reference %> |
<%= link_to 'Back', :action => 'list' %>
