<ul id="tab_list">
  <li><%= link_to('Major Elements', {:controller => 'page_test', :action => 'show_tabs'}, :id => @current_page_flag[0]) %> </li>
  <li><%= link_to('Minor Elements', {:controller => 'page_test', :action => 'show_tab2'}, :id => @current_page_flag[1]) %> </li>
</ul>
