
<div id="tab_test_div">
  <% @current_page_flag = Array.new %>
  <% @current_page_flag[2] = 'current' %>
  <%= render(:partial => "tabs") %>
</div>

<h1> Page Three </h1>

<h2> ... and here is PAGE 3  </h2>


