<h1>PDF Merging Utility - Test </h1>
<% for x in @spectrum_with_pdf_list %>
<%= x.figure_img_filename %>
	 <br>
<% end %>

<br>
File Names: <br>
<%= @file_names %>

<br> <br>

PDF Name: <br>
<%= @sppn %>

<br> <br>

Command: <br>
<%= @command %>
