<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>Untitled</title>
</head>

<body>
<h2>Manufacturer Information: PHI XPS Systems</h2>
<p>Dr. Kenneth D. Bomben<br>
Physical Electronics, Inc.</p>

<p>The following information was supplied for PHI Models 5100, 5200, 5300, 5400, 5500, 5600, and 5700 XPS Systems including the
5000LS, 5500LS, 5600LS, and 5700LS.</p>

<p>Items marked with an asterisk (*) are user-supplied or user-selected. Other information is provided to help users determine which answer best describes their system parameters.</p>
<pre>
Section C. Overall Instrument Description

Line 1. Spectrometer Manufacturer
PHYSICAL ELECTRONICS. INCORPORATED

Line 2. Manufacturer Model #
5100 . . . . . . . . . . . . . . . . . . . . . . . . . . . single channel detector (SCD), four-element lens
5200 . . . . . . . . . . . . . . . . . . . . . . . . . . . SCD, Omni Focus lens
5300 . . . . . . . . . . . . . . . . . . . . . . . . . . . position sensitive detector (PSD), four-element lens
5400 . . . . . . . . . . . . . . . . . . . . . . . . . . . PSD, Omni Focus lens
5500. 5600 or 5700 . . . . . . . . . . . . . . . . . . . . multi-channel detector (MCD), Omni Focus lens
5000LS . . . . . . . . . . . . . . . . . . . . . . . . . . SCD or PSD and either lens
5500LS, 5600LS or 5700LS . . . . . . . . . . . . . . . . . MCD, Omni Focus lens

Line 3. Analyzer Type
SPHERICAL SECTION ANALYZER

Line 4. Non-standard Analyzer or Lens
*

Line 5. Acceptance Angle from Analyzer Axis
0&deg

Line 6. Constant Pass Energy
CONSTANT PASS ENERGY . . . . . . . . . . . . . . . . . 5100, 5200, 5300, 5400 and 5000LS, 5500, 5500LS
*(choice of FAT or FRR). . . . . . . . . . . . . . . . 5600, 5600LS, 5700, and 5700LS

Line 7. Instrument Throughput Function
1/E . . . . . . . . . . . . . . . . . . Four-element lens
1/E . . . . . . . . . . . . . . . . . . Omni Focus I and IA . . . . . . . . . . . (Large Area Mode)
1 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . (Small Area Mode)
1 . . . . . . . . . . . . . . . . . . . Omni Focus II, III, IV and V: . . . . . . (FAT Mode, all area modes)
E . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . (FRR Mode)

Line 8. Instrument Throughput Function Comment
*

Line 9. Excitation Source Label
*

Line 10. Excitation Source Window or Filter
2 &micro;m AL . . . . . . . . . . . . . . . . . . . . . . . for conventional X-ray sources
NO WINDOW . . . . . . . . . . . . . . . . . . . . . . for any model monochromator

Line 11. Detector Description
SINGLE CHANNELTRON . . . . . . . . . . . . . . . . . 5100 and 5200
POSITION SENSITIVE . . . . . . . . . . . . . . . . . 5300 and 5400
* (has either SCD or PSD). . . . . . . . . . . . . . 5000LS
MULTICHANNEL RESISTIVE PLATE . . . . . . . . . . . . 5500, 5600, 5700, 5500LS, 5600LS, and 5700LS

Line 12. Number of Detector Elements
1 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 5100 and 5200
64  . . . . . . . . . . . . . . . . . . . . . . . . . . . . 5300 and 5400
* (has either SCD or PSD) . . . . . . . . . . . . . . . . . 5000LS
16  . . . . . . . . . . . . . . . . . . . . . . . . . . . . 5500, 5600, 5700, 5500LS, 5600LS, and 5700LS

Line 13. Ion Gun Manufacturer and Model #
PHI MODEL 04-303 OR MODEL 04-303A . . . . . . . . . . 5 kV Ion Gun
PHI MODEL 04-300  . . . . . . . . . . . . . . . . . . 4 kV Ion Gun

Line 14. Sputtering Current Measurement Method
*

Line 15. Ion Gun Operating Parameters
*
Line 16. Ion Gun Spot Size
Note: These are minimum spot sizes. Beam conditions required to achieve minimum size vary from component to component.
200 &micro;m: 04-303 or 04-303A on 5100, 5200, 5300, 5400, or 5000LS
250 &micro;m: 04-303 or 04-303A on 5500, 5600, 5700, 5500LS, 5600LS, or 5700LS
800 &micro;m: 04-300

Line 17. Ion Gun Raster Parameters
*

Line 18. Sputtering Comments
*

Table 19. Angles
Note: Emission angle varies from 0&deg to 90&deg. These values assume 45&deg (sample is horizontal). The angles that change with different
tilt are noted with (+).

Conventional X-Ray Source               Monochromator X-Ray Source
-------------------------------------   ----------------------------
Emission Angle                  45&deg     Emission Angle           45&deg
Incident Angle(+)                9&deg     Incident Angle(+)        45&deg
Source-to-Analyzer Angle        53.8&deg   Source-to-Analyzer Angle 90&deg
Specimen Azimuthal Angle         0&deg
Sputter Source Incident Angle   40&deg
Sputter Source Polar Angle      45&deg
Sputter Source Azimuthal Angle 111&deg


Line 20. Angular Geometry Comments
*

Section E. Variable Instrument Parameters

Line 4. Source Beam Size
X Value (&micro;m): . . . . . . . . . . . . >25 mm . . . . . . . . . . . . . . . . Conventional X-ray source (flood source)
. . . . . . . . . . . . . . . . . . . . 2 mm . . . . . . . . . . . . . . . . Model 10-400 monochromator
. . . . . . . . . . . . . . . . . . . . 1 mm . . . . . . . . . . . . . . . . 10-410 and 10-420 monochromator (point mode)
. . . . . . . . . . . . . . . . . . . . 2 mm . . . . . . . . . . . . . . . . 10-410 and 10-420 monochromator (area mode)
Y Value (&micro;m): . . . . . . . . . . . . >25 mm . . . . . . . . . . . . . . . . Conventional X-ray source (flood source)
. . . . . . . . . . . . . . . . . . . . 2 mm . . . . . . . . . . . . . . . . Model 10-400 monochromator
. . . . . . . . . . . . . . . . . . . . 1.2 mm . . . . . . . . . . . . . . . 10-410 and 10-420 monochromator (point mode)
. . . . . . . . . . . . . . . . . . . . 5 mm . . . . . . . . . . . . . . . . 10-410 and 10-420 monochromator (area mode)

Line 5. Source Raster
NO

Line 6. Source Beam Size at Specimen Surface
* (Note: For all systems, beam size varies as the sine of the angle in X and is unchanged in Y from the values given in Line 4.)

Line 7. Raster Frame Rate
No Answer

Line 8. Analyzer Resolution
In % (constant retarding ratio): . . . . . . . . . . . . . *
In eV (constant pass): . . . . . . . . . . . . . . . . . . 1% of the pass energy (SCD and MCD)
                       . . . . . . . . . . . . . . . . . . 1.5% of the pass energy (PSD)

Line 9. Analyzer Constants
*

Line 10. Analyzer Width
Energy Dependent:. . . . . . . . . . NO
X and Y Values:  . . . . . . . . . . 3 x 10 mm . . . . . . Four-element lens
                                   . * (See tables below)  Omni Focus lens
At Energy: . . . . . . . . . . . . . . ALL

X and Y Values for the Omni Focus and Omni Focus II Lenses:

                               Software Setting
Aperture Number    Small-Area Mode  Large-Area Mode
---------------    ---------------  ---------------
         1               200 &micro;m          500 &micro;m
         2               600 &micro;m            2 mm
         3               1.1 mm            4 mm
         4           1 x 3.5 mm       3 x 10 mm


X and Y Values for the Omni Focus III Lens:

                                   Software Setting
Aperture Number    Minimum-Area Mode  Small-Area Mode  Large-Area Mode
--------------     -----------------  ---------------  ---------------
         1                75 &micro;m               —                —
         2               150 &micro;m          200 &micro;m           500 &micro;m
         3               400 &micro;m          600 &micro;m             2 mm
         4               800 &micro;m          1.1 mm             4 mm
         5           0.8 x 2 mm      1 x 3.5 mm        3 x 10 mm


X and Y Values for the Omni Focus IV and V Lenses:

                                   Software Setting
Aperture Number    Minimum-Area Mode  Small-Area Mode  Large-Area Mode
---------------    -----------------  ---------------  ---------------
         1                30 &micro;m               —                —
         2               120 &micro;m          175 &micro;m           400 &micro;m
         3               400 &micro;m          600 &micro;m             2 mm
         4               800 &micro;m          1.1 mm             4 mm
         5           0.8 x 2 mm      1 x 3.5 mm        3 x 10 mm

Line 11. Analyzer Angular Acceptance Width
Constant with Energy: . . . . . . . . NO(a)
X and Y Angles: . . . . . . . . . . . 4&deg . . . . . . . . . . . . . . . . . . . Four-element lens
                                      *(See tables below). . . . . . . . . . . Omni Focus lens
At Energy . . . . . . . . . . . . . . ALL(a)

(a) Acceptance angles are constant at low retard ratios and decrease at high retard ratios. The acceptance angles noted in the following tables are the largest possible values and are most accurate in the regime where the acceptance angle is constant.

Omni Focus and Omni Focus II Lenses:

                      Software Setting
              Small-Area Mode   Large-Area Mode
              ---------------   ---------------
Solid Angle          20&deg             6&deg


Omni Focus III, IV, and V Lenses:

                            Software Setting
              Minimum-Area Mode  Small-Area Mode  Large-Area
              -----------------  ---------------  ---------------
Solid Angle          14&deg            10&deg                4&deg

Note: 75 &micro;m analysis area has a solid angle of 10&deg.
      30 &micro;m analysis area has a solid angle of 8&deg.


Section F. Spectral Parameters

Line 16. Signal Mode
DIRECT ANALOG . . . . . . . . . . . . . . . . . . . . SCD
MULTICHANNEL PULSE  . . . . . . . . . . . . . . . . . PSD and MCD

Line 17. Detector Width
1% of the pass energy (SCD and MCD)
1.5% of the pass energy (PSD)

Line 20, Signal Intensity Correction
NO (Displayed raw data does not contain corrections. The user may specify additional corrections and these are noted in the original Y axis label.)

Line 21. Signal Modulation Method
NONE

Line 22. Lock-in Parameters
NONE

</pre>

</body>
</html>
