<h1>Submit to SSS - Please read carefully</h1>

Clicking the "Submit to SSS" button below notifies the SSS editorial office
that you've finished with this submission. The editorial office will begin
the technical edit and review process.

<br><br>

As a reminder before submitting, make sure that any special instructions or
comments regarding this Submission have been entered in field A-12,
Publication Notes for Editors, found on the Section A - Editing Submission page.

<br><br>

Also before submitting, it may be helpful to print a final version of the
Submission Proof Report and review it carefully to confirm that the
Submission is indeed ready to be submitted. Mark that hard-copy "As Submitted"
and keep for your reference.

<br><br>

To avoid any confusion about which version is current, clicking the "Submit to SSS"
button will lock this submission so you can't make any changes while the review
process is underway. However, you can reprint a Proof Report
at any time by clicking the Submission Proof Report link (shown at the lower left).

<br> <br> <br> <br>

<div align="center">
<%= button_to('Submit to SSS', {:action => :submit_to_sss}, :confirm => "Are you sure that you want to send this Submission to SSS?")%>
</div>
