<html>
<head>
  <title>Surface Science Spectra - WECF</title>
  <%= stylesheet_link_tag "wecf", :media => "all" %>
</head>
<body>

  <%= render(:partial => "layouts/banner") %>
  <div id="main" >
    <%= @content_for_layout %>
  </div>

</body>
</html>
