<% for column in Specimen.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @specimen.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @specimen %> |
<%= link_to 'Back', :action => 'list' %>
