<h3 align=center>Thanks for signing up! </h3>
<br>

<h4 align=center>You have successfully completed the WECF Registration process </h4>
<br>

<p align=center>You may begin working on your Submissions by logging in to the
WECF system by following this link: </p>
<br>

<p align=center> <%= link_to('Login Page', :controller => 'account', :action => 'login') %> </p>

