<font face="Arial">
<div>
<p><strong><a name="DataSaving">Data Saving</strong><br>
This web site saves data in a way that you're probably not used to.  There
are no <b>Submit</b> or <b>Save</b> buttons.  Data is saved automatically every
time you move from field to field and from page to page.

This unique behavior is designed to prevent data loss when entering information
on long data-entry forms.
</p>
</div>

<p><strong><a name="StatusCodes">Submission Lifecycle and Status Codes</strong><br>
WCF uses status codes to manage the submit/review/revise/accept and publish
lifecycle. Each submission's status is shown on the My Submissions page, and
beneath the Submission ID in the box of navigator links on the top left of
every page when you're viewing and editing the submission.
</p><br>
<div align="center">
<table width="500" border="1" cellspacing="2" cellpadding="5">
  <tr>
    <th width="121" scope="col">Status Code </th>
    <th width="220" scope="col">Description</th>
    <th width="95" scope="col"><div align="center">Authors can make changes </div></th>
  </tr>
  <tr>
    <td>new</td>
    <td>Not yet submitted </td>
    <td><div align="center">yes</div></td>
  </tr>
  <tr>
    <td>submitted</td>
    <td>For first time </td>
    <td><div align="center">no</div></td>
  </tr>
  <tr>
    <td>original</td>
    <td>Peer review &amp; tech edit completed </td>
    <td><div align="center">no</div></td>
  </tr>
  <tr>
    <td>in-revision</td>
    <td>Copy of original, for author to revise</td>
    <td><div align="center">yes</div></td>
  </tr>
  <tr>
    <td>revised-by-author</td>
    <td>Re-submitted with author revisions </td>
    <td><div align="center">no</div></td>
  </tr>
  <tr>
    <td>accepted</td>
    <td>Accepted for publication </td>
    <td><div align="center">no</div></td>
  </tr>
  <tr>
    <td>published</td>
    <td>Published, available on SSS Online</td>
    <td><div align="center">no</div></td>
  </tr>
</table>
</div>
</font>