<h1>Section F - Spectrum Data</h1>

<% for column in Spectrum.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @spectrum.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @spectrum %> |
<%= link_to 'Back', :action => 'list' %>
