<h1>Section C - SIMS - New Instrument </h1>
<p>
	<h3>Select the appropriate Analyzer Type:</h3>
<ul>
  <li> <%= link_to 'Magnetic Sector', :action => 'new_mag_sector'  %></li>
  <li> <%= link_to 'Quadrupole', 	  :action => 'new_quad'  %></li>
  <li> <%= link_to 'Time of Flight',  :action => 'new_tof'  %></li>
</ul>

<h3>Or, copy one of these Instruments: </h3>

( table of instruments already on file ... )

</p>
